*{
  margin: 5px;
  align-self: center;
  font-family: "Segoe UI", Tahoma, sans-serif;
}
body > div{
  width: 100%;
  flex-basis: fit-content;
}
body 
{
  margin-top: 0px;
  margin-bottom: 10px;
  display: flex;
  min-width:300px;
  align-items: normal;
  flex-direction: column;
  background-color: #f0f0f0;
}
header#title{
  flex-basis: fit-content;
  font-size: 15px;
  text-align: center;
  margin:0px;
}
select{
  width: 11em;
}
header h1#title{
  line-height: 1em;
  margin-bottom: 10px;
}
.textToggle{
  display:flex;
  justify-content: space-between;
  background-color: rgba(255,255,255,0.5);
}
.option{
  margin:0;
}
.optionLabel{
  font-size: normal;
}
.optionContainer{
  display: flex;
  justify-content: space-between;
}
.dropDownOptions{
  display:none;
  /* width:90%; */
  /* margin:auto; */
  background-color: rgba(255,255,255,0.45);
 }
div.dropDownOptions.disabled label {
    color: gray;
}
div.dropDownOptions.disabled .slider::before {
    filter:brightness(75%);
}
div.dropDownOptions.disabled .slider {
    background-color: gray ;
    box-shadow: none ;
}
.arrowUp::before {
  transform: rotate(-45deg);
  top:0.1em;
}
.arrowDown::before {
  transform: rotate(135deg);
  top: -0.25em;
}
.textToggle:hover{
  background-color: rgba(0,0,0,0.10);
}
.arrow::before {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  width: 0.45em;
  left: -0.1em;
  
  position: relative;
  
}

.onoff{
font-size: larger;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
align-self: center;
}
.toggle{
/* color: #fff; */
display: inline-flex;
font-family: Arial, Helvetica, sans-serif;
}
.toggle input {
position: absolute;
opacity: 0;
width: 0;
height: 0;
}
div .slider {
position: relative;
display: block;
cursor: pointer;
background-color: #333;
transition: 0.4s;
width: 25px;
height: 10px;
}
div .slider:before {
content: "";
position: absolute;
height: 20px;
width: 20px;
background-color: lightblue;
transition: 0.4s;
top: -5px;
left: -5px;
}

input:checked + .slider {
background-color: blue;
box-shadow: 0 0 12px blue;
}

input:checked + .slider:before {
transform: translateX(15px);
}

.slider.round {
border-radius: 20px;
}
.slider.round::before {
border-radius: 20px;
}
